.services {
    width: 80%;
    display: flex;
    justify-content: space-between;
    gap: 25px
}

.services-card {
    width: 100%;
    background-color: white;
    border-radius: 35px;
    padding: 40px;
    position: relative;
    padding-top: 60px;
    padding-left: 40px;
}

.servciesicon {
    position: absolute;
    top: -15px;
    left: -15px;
    background-color: #f8f8f9;
    margin: 10px;
    font-size: 20px;
    border-radius: 5px;
    padding-right: 10px;
    padding-bottom: 20px;
}

.servciesicon span {
    padding: 10px 16px;
    border-radius: 5px;
}

.services-card p {
    font-size: 14px;
    color: #8a8a8a;
}